.section {
  min-height: 100vh;
  padding: 1.5rem;
}

.section-container {
  max-width: 1152px;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  font-size: 3.625rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: center; 
  padding-top: 1rem; 
}

.works-section, .skills-section {
  background-color: #f9fafb;
}

@media (max-width: 480px) {
  .section {
    padding: 1rem 0.75rem;
    min-height: unset;
  }
  
  .section-title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
}